// Colours partial

// Layout color
$body-color:  #E5E5E5;
$container: #fff;
$h1: #000;
$social-txt: #B0B0B0;

// button font
$submit-btn: #1A4F8B;
$fb-btn: #385C8E;
$google-btn: #F14436;
$upgrade-btn: #BF1541;

//Input text
$email-txt: #1A4F8B;
$password-txt: #767676;
$date-txt: #767676;
$postal-txt: #767676;
